version: "3.8"

services:
  web:
    build: .
    image: mr-salih-www:latest
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    command: ["npm", "run", "start"]
